$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px;  // スマホ
@mixin pc {
	@media (max-width: ($pc)) {
		@content;
	}
}
@mixin tab {
	@media (max-width: ($tab)) {
		@content;
	}
}
@mixin sp {
	@media (max-width: ($sp)) {
		@content;
	}
}

@mixin sp-ip5 {
	@media (max-width: (330px)) {
		@content;
	}
}

$tablehw:calc(min(80vw, 60vh));
$tablehw-tab:calc(min(80vw, 60vh));
$tablehw-sp:calc(min(90vw, 70vh));

$bg-color:rgb(189, 126, 55); //background color
$hf-color:skyblue; // header footer

%center-text {
  display: flex;
  justify-content: center;
  align-items: center;

  & .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    max-height: 50px;
    min-width: 280px;
    width: calc(#{$tablehw} - 20px);
    @include tab {
      width: calc(#{$tablehw-tab} - 20px);
    }

    @include sp {
      width: calc(#{$tablehw-sp} - 20px);
    }
  }
}
